<nav class="navbar navbar-expand-md navbar-light sticky-top bg-white mb-4">
  <a class="navbar-brand" href="/">darraghenright.github.io</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" aria-label="Home">
          <i class="fas fa-home"></i> <span class="sr-only">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/darraghenright/" target="_blank" aria-label="GitHub">
          <i class="fab fa-github-alt"></i> <span class="sr-only">GitHub</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://stackoverflow.com/users/312962/darragh-enright" target="_blank" aria-label="Stack Overflow">
          <i class="fab fa-stack-overflow"></i> <span class="sr-only">Stack Overflow</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/darraghenright" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i> <span class="sr-only">LinkedIn</span>
        </a>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
